<div th:fragment="allCrudFragments">

    <!-- Add new Teacher - Modal -->
    <div id="addTeacherModal" class="modal">
        <div th:replace="modals/add/addTeacherModal :: addTeacherFragment"></div>
    </div>

    <!-- Edit Teacher Info - Modal -->
    <div id="editTeacherModal" class="modal">
        <div th:replace="modals/edit/editTeacherModal :: editTeacherFragment"></div>
    </div>

    <!-- Delete Teacher Record - Modal -->
    <div id="deleteTeacherModal" class="modal">
        <div th:replace="modals/delete/deleteTeacherModal :: deleteTeacherFragment"></div>
    </div>

    <!-- Show Teaching Courses - Modal -->
    <div id="showTeachingCoursesModal" class="modal">
        <div th:replace="modals/show/showTeachingCoursesModal :: showTeachingCoursesFragment"></div>
    </div>

    <!-- Add Teaching Course - Modal -->
    <div id="addTeachingCourseModal" class="modal">
        <div th:replace="modals/add/addTeachingCourseModal :: addTeachingCourseFragment"></div>
    </div>

    <!-- Remove Teaching Course - Modal -->
    <div id="deleteTeachingCourseModal" class="modal">
        <div th:replace="modals/delete/deleteTeachingCourseModal :: deleteTeachingCourseFragment"></div>
    </div>


    <!-- Add new Student - Modal -->
    <div id="addStudentModal" class="modal">
        <div th:replace="modals/add/addStudentModal :: addStudentFragment"></div>
    </div>

    <!-- Edit Student Info - Modal -->
    <div id="editStudentModal" class="modal">
        <div th:replace="modals/edit/editStudentModal :: editStudentFragment"></div>
    </div>

    <!-- Delete Student Record - Modal -->
    <div id="deleteStudentModal" class="modal">
        <div th:replace="modals/delete/deleteStudentModal :: deleteStudentFragment"></div>
    </div>

    <!-- Show Enrolled Courses - Modal -->
    <div id="showEnrolledCoursesModal" class="modal">
        <div th:replace="modals/show/showEnrolledCoursesModal :: showEnrolledCoursesFragment"></div>
    </div>

    <!-- Add Enrolled Course - Modal -->
    <div id="addEnrolledCourseModal" class="modal">
        <div th:replace="modals/add/addEnrolledCourseModal :: addEnrolledCourseFragment"></div>
    </div>

    <!-- Remove Enrolled Course - Modal -->
    <div id="deleteEnrolledCourseModal" class="modal">
        <div th:replace="modals/delete/deleteEnrolledCourseModal :: deleteEnrolledCourseFragment"></div>
    </div>


    <!-- Add new Course - Modal -->
    <div id="addCourseModal" class="modal">
        <div th:replace="modals/add/addCourseModal :: addCourseFragment"></div>
    </div>

    <!-- Edit Course Info - Modal -->
    <div id="editCourseModal" class="modal">
        <div th:replace="modals/edit/editCourseModal :: editCourseFragment"></div>
    </div>

    <!-- Delete Course Record - Modal -->
    <div id="deleteCourseModal" class="modal">
        <div th:replace="modals/delete/deleteCourseModal :: deleteCourseFragment"></div>
    </div>


    <!-- Add new Role - Modal -->
    <div id="addRoleModal" class="modal">
        <div th:replace="modals/add/addRoleModal :: addRoleFragment"></div>
    </div>

    <!-- Edit Role Info - Modal -->
    <div id="editRoleModal" class="modal">
        <div th:replace="modals/edit/editRoleModal :: editRoleFragment"></div>
    </div>

</div>