<div th:fragment="addRoleFragment">
    <!-- Modal -->

    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('addRoleModal')">&times;</span>
        <form th:action="@{/addNewRole}" method="post">
            <input type="hidden" id="mdl-add-role-id" name="id" />

            <div class="modal-header">
                <h2>Add Role</h2>
                <hr class="modal-hr" />
            </div>

            <div class="form-group">
                <label for="mdl-add-role-name">Role Name:</label>
                <input type="text" class="form-control" id="mdl-add-role-name" name="name" required/>
            </div>

            <div class="form-group">
                <label for="mdl-add-role-description">Role Description:</label>
                <input type="text" class="form-control" id="mdl-add-role-description" name="description" required/>
            </div>

            <button type="submit" class="btn btn-primary">Create Role</button>
        </form>
    </div>

</div>

