<div th:fragment="addTeacherFragment">
    <!-- Modal -->

    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('addTeacherModal')">&times;</span>
        <form th:action="@{/addNewTeacher}" method="post">
            <input type="hidden" id="mdl-id" name="id" />

            <div class="modal-header">
                <h2>Add Teacher</h2>
                <hr class="modal-hr" />
            </div>

            <div class="form-group">
                <label for="mdl-teacher-add-firstname">First Name:</label>
                <input type="text" class="form-control" id="mdl-teacher-add-firstname" name="firstname" required/>
            </div>

            <div class="form-group">
                <label for="mdl-teacher-add-lastname">Last Name:</label>
                <input type="text" class="form-control" id="mdl-teacher-add-lastname" name="lastname" required/>
            </div>

            <div class="form-group">
                <label for="mdl-teacher-add-username">Username:</label>
                <input type="text" class="form-control" id="mdl-teacher-add-username" name="username" required/>
            </div>

            <div class="form-group">
                <label for="mdl-teacher-add-email">Email:</label>
                <input type="email" class="form-control" id="mdl-teacher-add-email" name="email" required/>
            </div>

            <div class="form-group">
                <label for="mdl-teacher-add-password">Password:</label>
                <input type="password" class="form-control" id="mdl-teacher-add-password" name="password" required/>
            </div>

            <div class="form-group">
                <label for="mdl-teacher-add-startYear">Start Year:</label>
                <input type="number" min="1930" max="2024" step="1" class="form-control" id="mdl-teacher-add-startYear" name="startYear"/>
            </div>


            <button type="submit" class="btn btn-primary">Create Teacher</button>
        </form>
    </div>

</div>

