@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #443c3c;
    background-color: #e3dfdf;
}

.container {
    max-width: 90%;
    margin: 70px auto 50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
}

button {
    background-color: #00607c;
    border-radius: 20px;
    border: 0;
    color: white;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #00c7e3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    border: 1px solid #443c3c;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #003b52;
    text-align: center;
    color: white;
    position: sticky;
    z-index: 2;
}

tr:hover {
    background-color: #e7eaf6!important; /* Change the color as needed */
}

.tableFixHead{
    overflow:hidden;
    overflow-y: auto;
    max-height: 300px;
    margin-top: 10px;
    border-bottom: 1px solid #443c3c;
}

thead {
    position: sticky;
    z-index: 2;
    top: 0;
}


.form-group {
    margin-bottom: 20px;
}

/* Style the form fields */
.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #443c3c;
    border-radius: 4px;
}


/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    .form-group {
        width: 100%;
    }

    .btn-primary {
        width: 100%;
    }
}



/* Header Styles */
.header {
    background-color: #003b52;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 70%;
    left: 15%;
    z-index: 1000;
    display: table; /* Use table display to make it look like a table */
}

.header-content {
    display: table-row; /* Display as a table row */
}

.header-title, .logout-button {
    display: table-cell; /* Display as a table cell */
    vertical-align: middle;
    padding: 0 10px; /* Add padding for spacing */
}

.header-title {
    color: white;
    font-size: 30px;
    padding: 0 0 0 100px;
    text-align: center;
}

a.logout-button {
    background-color: #008ead;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 0 10px 0;
    float: right;
    margin-right: 7px;
    text-align: center;
    width: 95px;
}

a.logout-button span {
    max-width: 85px; /* Adjust the max-width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

a.logout-button i {
    margin-left: 5px;
}

a.logout-button:hover{
    background-color: #00c7e3;
}


.table-header {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0
}

h3, button {
    margin: 0;
}



.confirm-btn{
    border: 3px solid #00c7e3;
}

.search-field-input{
    margin: 0!important;
    width: 260px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #e3dfdf;
}

.actionColumn{
    width: 13%;
    text-align: center;
}

.actionColumn button{
    margin: 0 2px;
}

.resizable{
    resize: vertical;
    overflow: hidden;
    min-height: 100px;
    max-height: 200px;
}