<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - TeacherDemoKostis</title>
</head>
<body>
<div class="container">
    <h2>Teachers List</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${teacherList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.getFirstname()}"></td>
            <td th:text="${user.getLastname()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getTel()}"></td>
            <td>
                <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
                <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Add form for adding a new user -->
</div>
</body>
</html>