<div th:fragment="deleteTeacherFragment">
    <!-- Modal -->

    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('deleteTeacherModal')">&times;</span>

        <form th:action="@{/deleteTeacher}" method="post">
            <input type="hidden" id="mdl-delete-id" name="id" />

            <div class="modal-header">
                <h2>Delete Teacher</h2>
                <hr class="modal-hr" />
            </div>

            <div class="modal-body">
                <i class="fa-solid fa-exclamation-triangle"></i>
                <span>You are going to delete that Teacher record. Are you sure?</span>
            </div>

            <div class="modal-footer">
                <button type="submit" class="confirm-btn"> Delete!
                    <i class="fa-solid fa-check"></i>
                </button>

                <button type="button"  onclick="closeModal('deleteTeacherModal')"> Cancel
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </form>


    </div>
</div>
